<!doctype html>
<html lang="en">
  <head>
    <style>
      .centerLocal{
        text-align: center;
      }

      .underline{
        text-decoration: underline;
      }

    </style>
      <charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>CST 205 Project</title>
      <link href="index.css" rel="stylesheet">
      {{ bootstrap.load_css() }}
  </head>

  <body class="centerLocal" style="background-color: #0048BA; color: #F5F5DC;">
    <h1 style="background-color: #0048BA; color: #F5F5DC;"> Electric Fuel Finder </h1>
    <p id="bigger" style="background-color: #0048BA; color: #F5F5DC;"> Enter a location to search for fuel: </p>

    <form method="POST" action="/">
      {{ form.csrf_token }}
      {{ form.location.label }}
      {{ form.location(size=40) }}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
